body{
    background-color: black;
    font-family: arial;
    color: white;
}

h1{
    color:gray;
    font-family: verdana;
}

.maindiv{
    margin: auto;
    background-color: white;
    color:black;
    width: 480px;
    padding: 20px;
    border-radius: 25px;
    
}

p{
    margin-left: 75px;
    padding: auto;
}

